body{
    background-color: #85C1E9;
}
.titulo{
    color: brown;
    font-family: Impact;
    text-align: center;
}
.c1{
    text-align: center;
}
.p1{
    font-family: Impact;
    color: #f5f8fa;
}
.p2{
    font-family: Impact;
    color: #f5f8fa;
}

